* {
    font-family: "Consolas";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: rgb(7, 0, 122);
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputs,
#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-field input {
    padding-left: 6px;
    border-radius: 3px;
    width: 315px;
    height: 30px;
}

.input-field input:focus {
    outline: none;
}

.cargos {
    display: flex;
    gap: 7px;
}

.login-buttons-div {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#login_button {
    font-weight: bold;
    border: rgb(151, 59, 151) 2px solid;
    width: auto;
    background-color: aliceblue;
    padding: 5px;
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 32px;
}

#login_button:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(145, 67, 145);
}

#cadastrar-requisito {
    font-weight: bold;
    background-color: offwhite;
    margin: 20px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
    border: rgb(151, 59, 151) 2px solid;
    position: absolute;
    top: 0;
    left: 0;
}

#cadastrar-requisito:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(145, 67, 145);
    color: white;
}

.header {
    background: rgb(500, 500, 500)
}

.modal {
    font-weight: bold;
    display: none;
    position: fixed;
    position: center;
    width: 50%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 37%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.form-container {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    width: auto;
    margin-top: 10px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#editar-requisito {
    background-color: white;
    margin: 15px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.2s;
    border: rgb(151, 59, 151) 2px solid;
    width: auto;
    align-self: center;
    transition: 0.3s;
}

#editar-requisito:hover {
    cursor: pointer;
    transform: scale(1.07);
    background-color: rgb(145, 67, 145);
    color: white;
}

.modal-form input,
.modal-form textarea {
    resize: none;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#conteudo {
    height: 80px;
}

.modal-form input[type="submit"] {
    width: auto;
    margin-top: 10px;
}

.modal-header {
    margin-bottom: 20px;
}

#enviar-requisito {
    background-color: white;
    margin: 15px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.5s;
    border: 1px solid rgb(111, 111, 231);
    width: 20%;
    align-self: center;
    transition: 0.3s;
}

#enviar-requisito:hover {
    cursor: pointer;
    transform: scale(1.07);
    background-color: rgb(145, 67, 145);
    color: white;
}

#requisitos {
    padding: 2%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.925);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#requisitos-content {
    margin-left: 3%;
}

#requisitos h1 {
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-family: "Consolas";
    padding: 10px;
}

ul {
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

li {
    align-self: center;
    width: 85%;
    font-family: "Consolas";
    font-weight: bold;
    border: rgb(151, 59, 151) 2px solid;
    margin-bottom: 1rem;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}